/**********************************************************/
/*                  VARIABLES FOR OUR APP                 */
/**********************************************************/
//
//  Table of Contents:
//
//   1. Global

//**********************************************************

// 1. Global
// ---------
$main-palette: (
  primary: #00B592,
  secondary: #018a6f,
  success: #3adb76,
  warning: #e8ce47,
  alert: #ec5840,
  gray: #8e8e8e,
);
