<<<<<<< HEAD
/************************************/
/*     EDIT PARKING PAGE STYLES    */
/***********************************/

.editParkingPage{

  &__container{


    &--padding-left{
      padding-left: 35px;
    }

    &--padding-right{
      padding-right: 35px;
    }
  }
=======
/***************************************/
/*      EDIT PARKING PAGE STYLES       */
/***************************************/

.editParkingPage {

    &__container {

        &--padding-left {
            padding-left: 35px;
        }

        &--padding-right {
            padding-right: 35px;
        }
    }
>>>>>>> 662ccea73e07e962d2a9eada4ab28f804b15689f
}
