.input{

  /* Modifier */
  margin: 5px;
  border: 2px solid #CCC;
  padding: 5px;
  padding-left: 5px;
  outline: none;

  &:focus{
    border: 1px solid #00B592;
    border-width: medium;
    border-style: ridge;;
  }

  &--small{
    width: 100px;
    height: 20px;
  }

  &--default{
    width: 200px;
    height: 20px;
  }

  &--large{
    width: 300px;
    height: 40px;
  }

  &--round{
    border-radius: 10px 10px 10px 10px;
  }
  /* Elements */
}
