/***************************/
/*      INPUTS STYLES      */
/***************************/

.input{

  border: 2px solid #CCC;
  padding: 5px;
  padding-left: 5px;
  outline: none;
  display: block;
  width: 100%;

  &:focus{
    border: 1px solid #00B592;
    border-width: medium;
    border-style: ridge;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

  }

  /* Modifier */
  &--small{
    padding: 10px;
    font-size: 15px;
    //width: 100px;
    //height: 20px;
  }

  &--default{
    padding: 15px;
    font-size: 20px;
    //width: 200px;
    //height: 20px;
  }

  &--large{
    padding: 20px;
    font-size: 25px;
    //width: 300px;
    //height: 40px;
  }

  &--round{
    border-radius: 10px 10px 10px 10px;
  }
  /* Elements */
}
